@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap");
/*shared styles*/

* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
}

/*header styles*/

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}

/*banner styles*/

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc {
    color: #727272;
}
